

<%{ './templates.html' }%>
<%{ css %>
	<link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/mutationForm.css">
    <link rel="stylesheet" type="text/css" href="/css/actionButton.css">
	<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/css/sidebarNavbar.css">
<%} %>

<%{ title %>
	Add New Car
<%} %>

<%{ content %>
	
	<% const url = {
                    location: {
                                routeName: "Cars", 
                                href: '/cars/list'
                                }, 
                    availableRoutes: [
                                        {
                                            routeName: "List Car", 
                                            selected: true, 
                                            href: "/cars/list" 
                                        }, {
                                            routeName: "Add New Car", 
                                            selected: false, 
                                            href: "/cars/list/add" 
                                        }
                                ] 
                    }; %>

	<%{ './partials/sidebar.html' {...url} }%>
	<%{ './partials/navbar.html' }%>
	<%{ './partials/sidebarNavbar.html' {...url} }%>

	<div class="content mx-4 position-relative" id="content" style="height: calc(100vh - 70px);">
        <%{ './partials/location.html' {...url, button: false} }%>	
        <%{ './partials/mutationForm.html' {add: true, availableSizes} }%>
        <%{ './partials/actionButtons.html' }%>
	</div>
<%} %>

<%{ js %>
	<script src="/js/navbar.js"></script>
    <script src="/js/mutationForm.js"></script>
<%} %>