
<div class="location">
    <div class="available-routes d-flex py-4">
        <a href="<%= location.href %>" class="fw-bold"><%= location.routeName %></a>
        <% availableRoutes.map(({routeName, href}, index) => { %>
            <% if (index < availableRoutes.length) { %>
                <span class="mx-2">&gt;</span>
            <% } %>
            <a href="<%= href %>" class="<%= (index < availableRoutes.length - 1) && 'fw-bold' %>"><%= routeName %></a>
        <% }) %>
    </div>
    
    <div class="current-location d-flex justify-content-between align-items-center pb-3">
        <h4><%= availableRoutes[availableRoutes.length - 1].routeName %></h4>
        <% if( button ) { %>
            <a href="/cars/list/add" class="btn btn-primary">&plus; Add New Car</a>
        <% } %>
    </div>
</div>
