<form action="<%= add ? '/cars/list/add' : `/cars/list/update/${id}` %>" method="POST" class="mutation-form bg-white px-3 py-2" enctype='multipart/form-data'>
    <div class="d-flex my-4 align-items-center position-relative">
        <label for="name" class="form-label">Nama<sup class="text-danger">*</sup></label>
        <input type="text" name="name" class="name form-control ps-3" id="name" placeholder="Avanza" value="<%= !add ? initialData.model : '' %>" autocomplete="off" />
    </div>

    <div class="d-flex my-4 align-items-center position-relative">
        <label for="rent" class="form-label">Sewa Per Hari<sup class="text-danger">*</sup></label>
        <input type="text" name="rent" class="rent form-control ps-3" id="rent" placeholder="Rp 0.-" value="<%= !add ? 'Rp. ' + Number(initialData.rent_per_day).toLocaleString() : '' %>" autocomplete="off" />
    </div>

    <div class="d-flex my-4 align-items-center position-relative">
        <label for="size" class="form-label">Ukuran<sup class="text-danger">*</sup></label>
        <select class="form-select size" name="size" id="size">
            <% if (!add) { %>
                <% availableSizes.map(size => { %>
                    <% if (initialData.size_code === size.code) { %>
                        <option value="<%= size.size_name %>" selected><%= size.size_name %></option>
                    <% } else { %>
                        <option value="<%= size.size_name %>"><%= size.size_name %></option>
                    <% } %>
                <% }) %>
            <% } else { %>
                <% availableSizes.map(size => { %>
                    <option value="<%= size.size_name %>"><%= size.size_name %></option>
                <% }) %>
            <% } %>
        </select>
    </div>

    <div class="d-flex my-4 align-items-center position-relative">
        <label for="imageName" class="form-label">Foto<sup class="text-danger">*</sup></label>
        <input type="text" name="imageName" class="imageName form-control ps-3" id="rent" placeholder="https://placeimg.com/640/480/any" value="<%= !add ? initialData.image : '' %>" readonly />
        <input type="file" name="image" class="image d-none" />
        <i class="fa-solid fa-upload"></i>
        <p>File size max. 2MB</p>
    </div>
    <button type="submit" class="submit-button d-none"></button>
</form>
