<nav class="navbar navbar-light bg-light light-shadow d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <div class="block-brand">
            <a href="/cars/list" class="brand bg-darkblue01"></a>
        </div>
        <i class="fa-solid fa-bars ms-4" id="navbar-icon"></i>
    </div>
    <div class="d-flex align-items-center me-4">
        <div class="d-flex">
            <input class="form-control model" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success search-model-button border border-primary text-primary fw-bolder" type="submit">Search</button>
        </div>

        <div class="d-flex align-items-center ms-5">
            <p class="username d-flex justify-content-center align-items-center bg-darkblue01 circle"><%= user.charAt(0) %></p>
            <div class="dropdown ms-4 d-flex align-items-center">
                <a class="dropdown-toggle text-dark" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= user %>
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item text-end" href="#">Action</a></li>
                    <li><a class="dropdown-item text-end" href="#">Another action</a></li>
                    <li><a class="dropdown-item text-end" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>

    </div>
  </nav>