
  
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body py-3 d-flex flex-column justify-content-center">
                <img src="/images/imagebeepbeep.svg" alt="..." />
                <h5>Menghapus Data Mobil</h5>
                <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                <div class="d-flex justify-content-center">
                    <a href="" type="button" class="btn btn-primary confirmation-delete-button">Ya</a>
                    <button type="button" class="btn btn-outline-primary border-2" data-bs-dismiss="modal">Tidak</button>
                </div>
            </div>
        </div>
    </div>
</div>