.active-buttons{
    position: fixed;
    bottom: 25px;
    left: 25px;
}

.active-buttons > .btn-outline-primary{
    border-color: #0D28A6;
    color: #0D28A6;
}

.active-buttons > .btn-primary{
    border-color: #0D28A6;
    background-color: #0D28A6;
}