
/**********************************************/
/* SIDEBAR STYLE */
.sidebar{
    position: fixed;
    inset: 0;
    width: var(--sidebar-size);
    z-index: 1000;
}

.sidebar > .sidebar-brand, .sidebar > .items > a > i{
    width: var(--brand-size);
    height: var(--brand-size);
    font-size: calc(var(--brand-size) / 2);
    text-align: center;
}

.sidebar > .items{
    margin-top: calc(var(--sidebar-size) - var(--brand-size));
}

.sidebar > .destination{
    width: 100%;
}

.sidebar > .destination.selected{
    background-color: rgba(255, 255, 255, 0.3);
}

.sidebar > .items > a > i, .sidebar > .items > a > p{
    color: white !important;
    text-align: center;
}
/**********************************************/